<div class="container">
    <h1> Terms of Service</h1>

    Please read these terms and conditions ("Terms", "Terms of Service") carefully before using this app (the "Service")
    operated by [Your Company] ("us", "we", or "our").

    By using the Service, you agree to be bound by these Terms. If you disagree with any part of the terms, then you may
    not use the Service.

    <h1>Accounts</h1>

    When you create an account with us, you must provide us information that is accurate, complete, and current at all
    times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account
    on our Service.

    You are responsible for safeguarding the password that you use to access the Service and for any activities or
    actions under your password, whether your password is with our Service or a third-party service.

    <h1>Content</h1>
    <p>Our Service allows you to post, link, store, share, and otherwise make available certain information, text,
        graphics, videos, or other material ("Content"). You are responsible for the Content that you post on or through
        the Service, including its legality, reliability, and appropriateness.

        By posting Content on or through the Service, You represent and warrant that: (i) the Content is yours (you own
        it) or you have the right to use it and grant us the rights and license as provided in these Terms, and (ii) the
        posting of your Content on or through the Service does not violate the privacy rights, publicity rights,
        copyrights, contract rights, or any other rights of any person.

        We reserve the right to remove any Content that violates these Terms or is otherwise objectionable in our sole
        discretion.
    </p>
    <h1>Intellectual Property</h1>
    <p>
        The Service and its original content, features, and functionality are and will remain the exclusive property of
        [Your Company] and its licensors. The Service is protected by copyright, trademark, and other laws of both the
        United States and foreign countries. Our trademarks and trade dress may not be used in connection with any
        product or service without the prior written consent of [Your Company].
    </p>
    <h1>Links to Other Web Sites</h1>
    <p>
        Our Service may contain links to third-party web sites or services that are not owned or controlled by [Your
        Company].

        [Your Company] has no control over, and assumes no responsibility for, the content, privacy policies, or
        practices of any third-party web sites or services. You further acknowledge and agree that [Your Company] shall
        not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by
        or in connection with the use of or reliance on any such content, goods, or services available on or through any
        such web sites or services.
    </p>
    <h1>Termination</h1>
    <p>
        We may terminate or suspend your account immediately, without prior notice or liability, for any reason
        whatsoever, including without limitation if you breach the Terms.

        Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account,
        you may simply discontinue using the Service.
    </p>
    <h1>Indemnification</h1>
    <p>
        You agree to indemnify and hold [Your Company] harmless from any demands, loss, liability, claims, or expenses
        (including attorneys’ fees), made against them by any third-party due to, or arising out of, or in connection
        with your use of the Service or any of the Content you upload or use on the Service.
    </p>
    <h1>Limitation of Liability</h1>
    <p>
        To the maximum extent permitted by applicable law, in no event shall [Your Company], be liable for any indirect,
        punitive, incidental, special, consequential, or exemplary damages, including without limitation, damages for
        loss of profits, goodwill, use, data, or other intangible losses, arising out of or relating to the use of, or
        inability to use, the Service.
    </p>
</div>