<app-carousel *ngIf="!helper.littleNav" [images]="images" [autoSlide]="true"></app-carousel>
<section class="youtube_khajana">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Some new artists from last time</h1>
      <!-- पिछली बार के कुछ नए कलाकार -->
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">The PICHHLI BAHAR is a Platform to support emerging artists.
        The PICHHLI BAHAR is a Open platform for a community of writers, poets, singers, and Storyteller.</p>
    </div>

    <!-- youtube videos -->
    <div class="flex flex-wrap -m-4 youtube-videos">
      <div class="lg:w-1/3 sm:w-1/2 p-4 youtube-videos-video" *ngFor="let video of youtubeVideos; let i=index"
        (click)="selectVideo(video)" [class.dspN]="video.id.kind==='youtube#channel'||i==0||i==1||i==2||i==3">
        <div class="flex relative">
          <img alt="gallery" class="absolute inset-0 w-full h-full object-cover object-center"
            src="{{video.snippet.thumbnails.high.url}}">
          <div class="px-8 py-10 relative w-full border-4 border-gray-200 bg-white opacity-0 hover:opacity-100">
            <h2 class="tracking-widest text-sm title-font font-medium text-indigo-500 mb-1">_पिछली बहार_</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{video.snippet.title}}</h1>
            <p class="leading-relaxed">{{video.snippet.description}}{{video.isVideoClicked}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- youtube videos -->
    
  </div>
  <div class="see-btn"><button class="rounded-full see-more" routerLink="/U-tube">See more...</button></div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Upcomming and latest shows</h1>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">PICHHLI BAHAR is a Platform to support emerging artists.
        The PICHHLI BAHAR is a Open platform for a community of writers, poets, singers, and Storyteller.

        If you wish to perform or attend as a audience at the event, you can contact on 7238051580.

        *We upload each and every video on YouTube which people perform at our Channel.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg" *ngFor="let insta of instasPosts">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://dummyimage.com/720x400"
            alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Chichen Itza</h2>
          <p class="leading-relaxed text-base">Fingerstache flexitarian street art 8-bit waistcoat. Distillery hexagon
            disrupt edison bulbche.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="teams py-20" style="background:#d6e8db68">
  <div class="container mx-auto px-6 md:px-12 lg:px-8">
    <div class="mb-12 space-y-4 text-center">
      <h1 class="text-4xl font-bold text-gray-900 md:text-5xl">Pichhili Bahar Team</h1>
      <p class="text-gray-600 lg:w-8/12 lg:mx-auto">Your words are precious, spread here in front of world.</p>
    </div>
    <div class="scroll-smooth hover:scroll-auto md:scroll-auto">
      <div class="py-20 grid gap-28 md:gap-12 md:grid-cols-3">
        <div class="border-t-4 space-y-8 group text-center" *ngFor="let item of displayedItems">
          <div class="w-32 h-32 -mt-16 mx-auto rounded-[2rem] rotate-45 overflow-hidden">
            <img [src]="item.image" class="w-full h-full object-cover -rotate-45 scale-125 mx-auto transition duration-300 group-hover:scale-[1.4]">
          </div>
          <div class="text-center">
            <h5 class="text-xl text-gray-800 font-semibold">{{ item.name }}</h5>
            <span class="text-sm text-gray-500">Founder</span>
          </div>
          <a href="#" class="w-max mx-auto text-center text-blue-500">About me</a>
        </div>
      </div>
    </div>
    <div class="see-btn"><button class="rounded-full see-more" routerLink="/team">See more...</button></div>
  </div>
</div>

<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Register Here</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Register as a performer or audience</p>
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <form class="flex flex-wrap -m-2" [formGroup]="registerForm">
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
            <input type="text" id="name" name="name"
              class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              formControlName="name">
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="type" class="leading-7 text-sm text-gray-600">Type</label>
            <input type="type" id="type" name="type"
              class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              formControlName="type">
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="number" class="leading-7 text-sm text-gray-600">Number</label>
            <input type="number" id="number" name="number"
              class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              formControlName="number">
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
            <input type="email" id="email" name="email"
              class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              formControlName="email">
          </div>
        </div>
        <div class="p-2 w-full">
          <div class="relative">
            <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
            <textarea id="message" name="message"
              class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
              formControlName="message"></textarea>
          </div>
        </div>
        <div class="p-2 w-full">
          <button
            class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
            (click)="registerUser()">Register me</button>
        </div>
        <div class="p-2 w-full pt-8 mt-8 border-t border-gray-200 text-center">
          <a class="text-indigo-500">We will contact you soon!</a>
          <p class="leading-normal my-5">thepichhlibahar&#64;gmail.com
            <br>Phone No. 7238051580
          </p>
          <span class="inline-flex">
            <a class="text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                viewBox="0 0 24 24">
                <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
              </svg>
            </a>
            <a class="ml-4 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                viewBox="0 0 24 24">
                <path
                  d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
                </path>
              </svg>
            </a>
            <a class="ml-4 text-gray-500">
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="w-5 h-5" viewBox="0 0 24 24">
                <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
                <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
              </svg>
            </a>
            <a class="ml-4 text-gray-500">
              <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
                viewBox="0 0 24 24">
                <path
                  d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z">
                </path>
              </svg>
            </a>
          </span>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font relative">
  <div class="container px-5 py-24 mx-auto flex sm:flex-nowrap flex-wrap">
    <div
      class="lg:w-2/3 md:w-1/2 bg-gray-300 rounded-lg overflow-hidden sm:mr-10 p-10 flex items-end justify-start relative">
      <iframe width="100%" height="100%" class="absolute inset-0" frameborder="0" title="map" marginheight="0"
        marginwidth="0" scrolling="no"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14358.816634566712!2d83.6474576!3d25.8792126!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39921f6d2dc2aea9%3A0x5c6a62a574be4aa8!2sJama%20Masjid%20Bahadurganj%20Ghazipur!5e0!3m2!1sen!2sin!4v1680409190242!5m2!1sen!2sin"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div>
        <div class="bg-white relative flex flex-wrap py-6 rounded shadow-md"
          style="filter: grayscale(1);position: relative"><!-- *ngIf="addToggle"-->
          <div class="lg:w-1/2 px-6">
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">ADDRESS</h2>
            <p class="mt-1">Jama masjid Bahadurganj 275201 Ghazipur (Uttar Pradesh)</p>
          </div>
          <div class="lg:w-1/2 px-6 mt-4 lg:mt-0">
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs">EMAIL</h2>
            <a class="text-indigo-500 leading-relaxed">thepichhlibahar&#64;gmail.com</a>
            <h2 class="title-font font-semibold text-gray-900 tracking-widest text-xs mt-4">PHONE</h2>
            <p class="leading-relaxed">7238051580</p>
          </div>
        </div>
        <!-- <div class="address-toggle" (click)="addToggle=!addToggle"><img src="../../assets/add.png"></div> -->
      </div>
    </div>
    <form class="lg:w-1/3 md:w-1/2 bg-white flex flex-col md:ml-auto w-full md:py-8 mt-8 md:mt-0"
      [formGroup]="queryForm">
      <h2 class="text-gray-900 text-lg mb-1 font-medium title-font">Feedback</h2>
      <p class="leading-relaxed mb-5 text-gray-600">Elevating voices through poetry, storytelling, comedy, music & more
        since 2010. Join us for events ft. emerging & renowned artists. Write down below</p>
      <div class="relative mb-4">
        <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
        <input type="text" id="name" name="name" formControlName="name"
          class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <div class="relative mb-4">
        <label for="email" class="leading-7 text-sm text-gray-600">Email</label>
        <input type="email" id="email" name="email" formControlName="email"
          class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
      </div>
      <div class="relative mb-4">
        <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
        <textarea id="message" name="message" formControlName="message"
          class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
      </div>
      <button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
        (click)="sendQuery()">Let's
        Connect</button>
      <p class="text-xs text-gray-500 mt-3">Poetry, Comedy, Storytelling Open Mics
      </p>
    </form>
  </div>
</section>
<app-u-tube-streamer class="UStreamer" *ngIf="apiService.UStreamer.isStreamerActive"></app-u-tube-streamer>
<!-- <div class="UStreamer" *ngIf="true">
  <img src="../assets/loader.gif" alt="">
</div> -->